.loading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-wrapper.loading {
    background-color: #eee;
    border-radius: 5px;
}

.loading-content {
    width: 100%;
}