<div class="articles root">
    <div class="container">
        <div class="fixed-header">
            <div class="header-layout">
                <div class="header">
                    <h1>所有文章</h1>
                    <div class="search">
                        <mat-form-field appearance="outline" class="search-field">
                            <mat-label>搜索</mat-label>
                            <input [(ngModel)]="keyword" matInput>
                            <app-icon type="search" name="search-regular" matSuffix></app-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="filter">
                    <mat-chip-list multiple>
                        <mat-chip *ngFor="let chip of chips" chipListSelectable [selected]="selectedTags.includes(chip)"
                            (click)="setSelectedTags($event, chip)">{{ chip }}
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <div class="list" *ngIf="filterArticles.length > 0">
            <ul>
                <li *ngFor="let article of filterArticles">
                    <a [routerLink]="article.link">{{ article.title }}</a>
                    <em>{{ article.publishDate }}</em>
                </li>
            </ul>
        </div>
        <div class="empty-list" *ngIf="filterArticles.length === 0">
            <!-- <app-icon type="#999" name="sad-regular"></app-icon> -->
            😪
            <span>暂无符合条件的内容</span>
        </div>
    </div>
</div>