<div class="root">
    <div class="container article">
        <div class="header">
            <h1>css蒙板裁剪自定义形状属性clip-path</h1>
        </div>
        <div class="info pub">
            <p>发布于: 2022/05/25 15:58</p>
        </div>
        <div class="content">
            <h4>效果演示</h4>
            <div class="example">
                <div class="scroller">
                    <div class="background">
                        <img src="../../../../assets/images/wallpaper.jfif" />
                    </div>
                </div>
                <div class="fixed-layer">
                    <div class="detail">内容区</div>
                    <svg width="200" height="150" viewBox="0 0 200 150" [style.height]="0">
                        <defs>
                            <clipPath id="mask">
                                <path d="M0,0 L150,0 200,50 200,150 0,150Z" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
            <h4>css属性</h4>
            <app-loading-wrapper [loading]="cssString === ''">
                <pre>
                    <code class="language-css">{{cssString}}</code>
                </pre>
            </app-loading-wrapper>
            <h4>svg滤镜</h4>
            <app-loading-wrapper [loading]="svgMaskString === ''">
                <pre>
                    <code class="language-xml">{{svgMaskString}}</code>
                </pre>
            </app-loading-wrapper>
            <h4>较为复杂的实例</h4>
            <div class="paper-example">
                <div class="paper" (mouseenter)="pos = 40" (mouseleave)="pos = 0">
                    <div class="inner"></div>
                    <svg class="shadow-drop" [attr.width]="size" [attr.height]="size"
                        [attr.viewBox]="[0, 0, size, size].join( )">
                        <path [attr.d]="dropPath" fill="#aaa" filter="url(#paper-shadow)" />
                    </svg>
                </div>
                <svg [attr.width]="size" [attr.height]="size" [attr.viewBox]="[0, 0, size, size].join( )"
                    [style.height]="0">
                    <defs>
                        <clipPath id="paper-mask">
                            <path [attr.d]="clipPath" />
                        </clipPath>
                        <filter id="paper-shadow" x="0" y="0" width="100%" height="100%">
                            <feOffset result="offOut" in="SourceAlpha" dx="-1" dy="1" />
                            <feGaussianBlur result="blurOut" in="offOut" stdDeviation="5" />
                            <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
                        </filter>
                    </defs>
                </svg>
            </div>
            <div class="demo-title">
                <h4 class="m-0">在线演示</h4>
                <!-- <a [href]="online_demo_vuejs" target="_blank">[新窗口]</a> -->
            </div>
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="tab-label">
                            <app-icon name="react-logo" color="#61dafb"></app-icon>
                            <span>React</span>
                        </div>
                    </ng-template>
                    <app-embed-wrapper [src]="online_demo_react"></app-embed-wrapper>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="tab-label">
                            <app-icon name="vuejs-logo" color="#41b883"></app-icon>
                            <span>Vuejs</span>
                        </div>
                    </ng-template>
                    <app-embed-wrapper [src]="online_demo_vuejs"></app-embed-wrapper>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div class="tab-label">
                            <app-icon name="angular-logo" color="#c3002f"></app-icon>
                            <span>Angular</span>
                        </div>
                    </ng-template>
                    <app-embed-wrapper [src]="online_demo_angular"></app-embed-wrapper>
                </mat-tab>
            </mat-tab-group>
            <h4>组件开发中可以将svg路径封装为组件, 传入容器大小或者长宽比, 实现更灵活的运用</h4>
            <h4>缺点: svg矢量路径比较依赖比例, 功能强大但灵活性一般</h4>
        </div>
    </div>
</div>