.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.not-found h1 {
    margin: 0;
    font-weight: bolder;
    font-size: 100px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2;
    animation: inching 5s ease-in infinite alternate-reverse;
}

@keyframes inching {
    from {
        background-position: center 0%;
    }
    to {
        background-position: center 100%;
    }
}
