<div class="root">
    <div class="container article">
        <div class="header">
            <h1>vuejs(3.x)中请求/响应拦截的实现</h1>
        </div>
        <div class="info pub">
            <p>发布于: 2022/05/30 17:15</p>
        </div>
        <div class="content">
            <p>在使用vuejs开发项目的时候, 可能需要做请求拦截, 但是在封装的http(axios, fetch等)请求方法里, 对于获取全局路由对象、Vuex全局状态不是很方便, 很难优雅的实现。</p>
            <p>下面以我自己项目里用的fetch封装为例:</p>
            <h3 class="m-0">types.ts</h3>
            <pre>
                <code class="language-typescript">{{types}}</code>
            </pre>
            <h3 class="m-0">http.ts</h3>
            <pre>
                <code class="language-typescript">{{http_js}}</code>
            </pre>
            <h3 class="m-0">App.vue - 根组件</h3>
            <pre>
                <code class="language-xml">{{app_vue}}</code>
            </pre>
            <h3 class="m-0">Home.vue - 组件内部调用</h3>
            <pre>
                <code class="language-xml">{{home_vue}}</code>
            </pre>
        </div>
    </div>
</div>