<div class="root">
    <div class="container article">
        <div class="header">
            <h1>获取Chrome调试面板中筛选的请求列表</h1>
        </div>
        <div class="info pub">
            <p>发布于: 2022/05/25 10:02</p>
        </div>
        <div class="content">
            <p>开发中可能需要拿到控制台Network(网络)下的请求列表, 开发工具并没有提供复制的方法。这时候可以通过快捷键 <em>Ctril+Shift+I</em> 来打开开发者工具的开发者工具面板, 在控制台输入:</p>
            <app-loading-wrapper [loading]="codeString === ''">
                <pre>
                    <code class="language-js">{{codeString}}</code>
                </pre>
            </app-loading-wrapper>
            <p>控制台会打印出所有的请求网址列表, 右键<em>复制object</em>即可将数据复制出来</p>
        </div>
    </div>
</div>